<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background: #000;
            color: aliceblue;
        }
        a {
            color: aliceblue;
        }
        a:hover {
            color: greenyellow;
            text-decoration: none;
            
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const test1 = (id) =>{
            id.innerHTML = "API Notifikasi"
        }
        const test2 = (id) =>{
            id.innerHTML = "Menggunakan express js"
        }
        const delNotif = (u) => {
            var config = {
            method: 'delete',
            url: u,
            headers: { }
            };

            axios(config)
            .then(function (response) {
            console.log(JSON.stringify(response.data))
            })
            .catch(function (error) {
            console.log(error)
            console.log(u)
            });
        }
        axios.get('http://localhost:3000/notifikasi/')
        .then(function (response) {
            // handle success
            let data = response.data
            let notif = ""
            let url = []
            for(let i=0;i<data.length;i++){
                url[i] = "http://localhost:3000/notifikasi/"+data[i]._id
                notif += 
                `<a id="notif${i}" href="${data[i].link_ref}">
                    <h3>${data[i].judul}</h3>
                    <p>${data[i].pesan}</p>
                </a>`
                // <button id="notif${i}">hapus</button>`
            }
            console.log(url)
            document.getElementById('notif').innerHTML = notif
            for(let i=data.length-1;i>=0;i--){
                u = url[i]
                document
                .getElementById("notif"+i)
                .addEventListener("click", 
                func = ()=>{
                    console.log(u)
                    delNotif(u)
                })
            }
        })
        .catch(function (error) {
        // handle error
            console.log(error)
        })
        .then(function () {
        // always executed
        })
    </script>
</head>
<body>

<h1 onclick="test1(this)">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
</h1>
<p onclick="test2(this)">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, numquam autem voluptates, itaque libero vitae dolorum ipsa nostrum aspernatur alias eveniet. Voluptatum optio asperiores dicta repudiandae et ea tempore porro.</p>
<div id="notif"></div>
</body>
</html>
<script>
    
</script>